body{
    background-color: bisque;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20%;

}

button{
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: red;
    color: white;
    margin-top: 20px;
}

button:hover{
    background-color:black;
}